*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color:mediumvioletred ;
height: 75px;
display: flex;
justify-content: space-between;
align-items:center;
padding: 7px;

}
